.formTextArea {
    border-radius: 20px;
    border-color: #ececec;
    min-height: 40px;
}
.formSelect {
    border-radius: 18px;
    border-color: #ececec;
}
.modalBody {
    border: 0;
}
.modal {
    backdrop-filter: blur(5px);
}
.modalDialog div {
    background: #ffffff;
    border-radius: 1em;
    border-style: hidden;
}
.btn {
    font-weight: 500;
    border-radius: 20px;
    min-height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.modalFooter {
    border-radius: 0 0 13px 13px;
    border-style: unset;
    width: 100%;
    font-weight: 500;
}