.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/91/bd/ee/91bdeed37f37ec7d951887a429c5c2b5.jpg');
    background-position: top;
    background-attachment: fixed;
    color: white;
    margin: 0 !important;
    padding: 64px 32px 64px 32px;
    border-radius: 0 !important;
}

.nav{
    font-size: 14pt;
}

.navbar {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: saturate(180%) blur(20px);
    justify-content: center;
}

