.footer {
    background-color: white;
    padding: 1rem 0;
    color: black;
    border: white solid;
    border-top: rgb(234, 234, 234) solid 1px;

}

.a {
    transition: color 0.2s ease-out 0s;
}
